<div class="tabs settings-tabs">
  <a href="/settings?tab=general" class="{{ 'on' if tab == 'general' }}">{{ _('General') }}</a>
  <a href="/settings?tab=connections" class="{{ 'on' if tab == 'connections' }}">{{ _('Connections') }}</a>
  <a href="/settings?tab=style" class="{{ 'on' if tab == 'style' }}">{{ _('Style') }}</a>
  <a href="/settings/categories" class="{{ 'on' if tab == 'categories' }}">{{ _('Categories') }}</a>
  <a href="/settings?tab=account" class="{{ 'on' if tab == 'account' }}">{{ _('Account') }}</a>
</div>
